.dropdown-container,
.dropdown-field,
.dropdown-field-option,
.dropdown-field-option-text {
  background: var(--color-khali-base-inactive);
  height: 1.25rem;
  padding: 0 8px;
  margin: 0;
  line-height: 125%;
  font-weight: normal;
  border-radius: 4px;
}

.dropdown-options-list {
  background: var(--color-khali-base-inactive);
  transform: translateZ(+100px);
  padding: 0.25rem;
  max-height: 50rem;
  border-radius: 0 0 8px 8px;
}

.dropdown-option {
  padding: 0.125rem;
  border-radius: 4px;
}

.dropdown-option:hover {
  background: var(--color-khali-accent);
}
