.lookuptextfield-container {
  padding: 0;
  margin: 0 8px;
  width: fit-content;
}

.lookuptextfield-input {
  height: 100%;
  width: unset;
  line-height: 125%;
}

.lookuptextfield-input:focus {
  background: var(--color-khali-base);
}

.lookuptextfield-suggestions-list {
  background: var(--color-khali-base-inactive);
  position: absolute;
  transform: translateZ(+100px) translateX(0.5rem);
  padding: 0.25rem;
  max-height: 50rem;
  border-radius: 0 0 8px 8px;
  box-shadow: 2px 8px 8px rgb(0 0 0 / 0.4);
}

.lookuptextfield-suggestion {
  padding: 0.125rem;
  border-radius: 4px;
  font-weight: normal;
  line-height: 125%;
}

.lookuptextfield-suggestion:hover {
  background: var(--color-khali-accent);
}
