@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

#root {
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  font-family: 'Inter', sans-serif;
  font-weight: bold;

}

.content-area {
  width: 100%;
  min-height: 100%;
  margin: 1em;
}


